# Project exclude paths
/.gradle/
/Car Sharing/task/build/
/Car Sharing/task/out/
/Car Sharing/task/out/production/classes/
/Topics/Branching statements/Even or odd/out/
/Topics/Branching statements/Even or odd/out/production/classes/
/Topics/Collectors/ASCII Art/out/
/Topics/Collectors/ASCII Art/out/production/classes/
/Topics/Collectors/Set average/out/
/Topics/Collectors/Set average/out/production/classes/
/Topics/Collectors/The product of squares/out/
/Topics/Collectors/The product of squares/out/production/classes/
/Topics/Declaring a method/Calculating factorials/out/
/Topics/Declaring a method/Calculating factorials/out/production/classes/
/Topics/Function composition/Disjunct all/out/
/Topics/Function composition/Disjunct all/out/production/classes/
/Topics/Function composition/The chain of responsibility/out/
/Topics/Function composition/The chain of responsibility/out/production/classes/
/Topics/Function composition/Theory/out/
/Topics/Function composition/Theory/out/production/classes/
/Topics/Functional data processing with streams/A sorted stream/out/
/Topics/Functional data processing with streams/A sorted stream/out/production/classes/
/Topics/Functional data processing with streams/Count passwords/out/
/Topics/Functional data processing with streams/Count passwords/out/production/classes/
/Topics/Functional data processing with streams/Print elements of a stream/out/
/Topics/Functional data processing with streams/Print elements of a stream/out/production/classes/
/Topics/Functional data processing with streams/Theory/out/
/Topics/Functional data processing with streams/Theory/out/production/classes/
/Topics/Functional decomposition/Create a full name/out/
/Topics/Functional decomposition/Create a full name/out/production/classes/
/Topics/Grouping collectors/Palindrome or not/out/
/Topics/Grouping collectors/Palindrome or not/out/production/classes/
/Topics/Infinite streams/Powers of two/out/
/Topics/Infinite streams/Powers of two/out/production/classes/
/Topics/Infinite streams/Theory/out/
/Topics/Infinite streams/Theory/out/production/classes/
/Topics/Integer types and operations/Good rest on vacation/out/
/Topics/Integer types and operations/Good rest on vacation/out/production/classes/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/production/classes/
/Topics/Integer types and operations/Next even number/out/
/Topics/Integer types and operations/Next even number/out/production/classes/
/Topics/Integer types and operations/Reading integer numbers/out/
/Topics/Integer types and operations/Reading integer numbers/out/production/classes/
/Topics/Integer types and operations/Reversing input numbers/out/
/Topics/Integer types and operations/Reversing input numbers/out/production/classes/
/Topics/Map and flatMap/Count words without repetitions/out/
/Topics/Map and flatMap/Count words without repetitions/out/production/classes/
/Topics/Map and flatMap/Maximum of the absolute values/out/
/Topics/Map and flatMap/Maximum of the absolute values/out/production/classes/
/Topics/Map and flatMap/Sorting the absolute values/out/
/Topics/Map and flatMap/Sorting the absolute values/out/production/classes/
/Topics/Map and flatMap/Theory/out/
/Topics/Map and flatMap/Theory/out/production/classes/
/Topics/Parallel streams/Fix the sorting order/out/
/Topics/Parallel streams/Fix the sorting order/out/production/classes/
/Topics/Parallel streams/Prime numbers/out/
/Topics/Parallel streams/Prime numbers/out/production/classes/
/Topics/Parallel streams/Theory/out/
/Topics/Parallel streams/Theory/out/production/classes/
/Topics/Reduction methods/Calculating factorials/out/
/Topics/Reduction methods/Calculating factorials/out/production/classes/
/Topics/Reduction methods/Range quadratic sum/out/
/Topics/Reduction methods/Range quadratic sum/out/production/classes/
/Topics/Reduction methods/Sum of divisors/out/
/Topics/Reduction methods/Sum of divisors/out/production/classes/
/Topics/Stream filtering/Bad words detecting/out/
/Topics/Stream filtering/Bad words detecting/out/production/classes/
/Topics/Stream filtering/Check if a number is prime/out/
/Topics/Stream filtering/Check if a number is prime/out/production/classes/
/Topics/Stream filtering/Numbers filtering/out/
/Topics/Stream filtering/Numbers filtering/out/production/classes/
/Topics/Stream filtering/Omitting long strings/out/
/Topics/Stream filtering/Omitting long strings/out/production/classes/
/Topics/Stream pipelines/The sum of odd numbers/out/
/Topics/Stream pipelines/The sum of odd numbers/out/production/classes/
/Topics/Stream pipelines/The ten most frequent words/out/
/Topics/Stream pipelines/The ten most frequent words/out/production/classes/
/Topics/Stream pipelines/Theory/out/
/Topics/Stream pipelines/Theory/out/production/classes/
/Topics/Stream pipelines/Using streams many times/out/
/Topics/Stream pipelines/Using streams many times/out/production/classes/
/Topics/Streams of primitives/A stream without zero/out/
/Topics/Streams of primitives/A stream without zero/out/production/classes/
/Topics/Streams of primitives/The average salary/out/
/Topics/Streams of primitives/The average salary/out/production/classes/
/Topics/Streams of primitives/Theory/out/
/Topics/Streams of primitives/Theory/out/production/classes/
/Topics/String/Replacing 'a' with 'b'/out/
/Topics/String/Replacing 'a' with 'b'/out/production/classes/
/Topics/Taking elements/Secret codes/out/
/Topics/Taking elements/Secret codes/out/production/classes/
/Topics/Taking elements/Sorting and skipping numbers/out/
/Topics/Taking elements/Sorting and skipping numbers/out/production/classes/
/Topics/Taking elements/Theory/out/
/Topics/Taking elements/Theory/out/production/classes/